<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSPCalendarView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6CA36141CEC9ECA00B8160E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6CA362D1CEC9ECB00B8160E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6CA36381CEC9ECB00B8160E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
